label {
     top: 0%;
     transform: translateY(-50%);
     font-size: 11px;
     color: rgba(37, 99, 235, 1);
}

.empty input:not(:focus)+label {
     top: 50%;
     transform: translateY(-50%);
     font-size: 14px;
}

input:not(:focus)+label {
     color: rgba(70, 70, 70, 1);
}

input {
     border-width: 1px;
}

input:focus {
     outline: none;
     border-color: rgba(37, 99, 235, 1);
}

.min-h-20 {
     min-height: 20rem;
}

.tooltip {
     position: relative;
     display: inline-block;
}

.tooltip .tooltiptext {
     width: 5rem;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px;
     position: absolute;
     z-index: 1;
     bottom: 150%;
     left: 140%;
     margin-left: -75px;
     opacity: 0;
     transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
}